#scene-tooltip{
	word-break:break-all;
	word-wrap:break-all;
	position: absolute;
	background-color: white;
	opacity: 0.8;
}
#scene-tooltip.hidden{
	display: none;
}
#scene-tooltip p{
	//word-wrap: break-word;
	//font-family: sans-serif;
	//font-size: 24px;
	//line-height: 32px;
}
#scene-tooltip td{
	//word-wrap: break-word;
	width: 50%;
}



